<table border="0" style="width:100%"> 
 <tr> 
  <td valign="top"> 
   <div id="body"> 
   <div class="edit_form"> 
 <form action="/edit/" method="post" style="margin-bottom:0px;"> 
<div><input type="hidden" name="encode_hint" value="ぷ" /></div> 
  <input type="hidden" name="cmd"    value="edit" /> 
  <input type="hidden" name="page"   value="てすとぺえええじ" /> 
  <input type="hidden" name="digest" value="ff2f8ffe553e38aa8b728b43871855ff" /> 
  <textarea name="msg" rows="20" cols="80">[BODYWIKI]
</textarea> 
  <br /> 
  <div style="float:left;"> 
   <input type="submit" name="preview" value="プレビュー" accesskey="p" /> 
   <input type="submit" name="write"   value="ページの更新" accesskey="s" /> 
  </div> 
   <textarea name="original" rows="1" cols="1" style="display:none">[BODYWIKI]
   </textarea>
 </form> 
 </div>
 </div>
  </td> 
</tr>
</table>