<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja"> 
<head> 
 <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" /> 
 <meta http-equiv="content-style-type" content="text/css" /> 
 
 <title>Welcome - GAEJ Wiki</title> 
 <link rel="stylesheet" type="text/css" media="screen" href="/css/default.ja.css" charset="UTF-8" /> 
</head>
<body>
<div id="header"> 
 <a href="http://gaejwiki.appspot.com/?welcome"><img id="logo" src="/img/gaejwiki_logo.png" width="80" height="80" alt="[GAEJ Wiki]" title="[GAEJ Wiki]" /></a> 
 
 <h1 class="title"><a href="http://gaejwiki.appspot.com/?welcome">Welcome</a> </h1> 
 
</div> 