<table border="0" style="width:100%"> 
 <tr> 
  <td valign="top"> 
   <div id="body"> 
   <div class="edit_form"> 
 <form action="/edit/" method="post" style="margin-bottom:0px;"> 
  <input type="hidden" name="pagetitle" value="[TITLE]" /> 
  <textarea name="wiki" rows="20" cols="80">[BODYWIKI]
</textarea> 
  <br /> 
  <div style="float:left;"> 
   <input type="submit" name="preview" value="プレビュー" accesskey="p" /> 
   <input type="submit" name="write"   value="ページの更新" accesskey="s" /> 
  </div> 
   <textarea name="original" rows="1" cols="1" style="display:none">[BODYWIKI]
   </textarea>
 </form> 
 </div>
 </div>
  </td> 
</tr>
</table>